#root, body, html {
    height: 100%;
    margin: 0;

}

body{
    background: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)), url(./assets/money-background-cartoon.jpeg);
    background-size: cover;
}